.footer-media {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 60px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--btn-color);
  }
  &__list {
    display: flex;
  }
  &__link {
    fill: var(--btn-color);
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    margin-top: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      background-color: var(--hover-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .footer-media {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 60px;

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.17;
      color: var(--btn-color);
    }
    &__list {
      display: flex;
    }
    &__link {
      fill: var(--btn-color);
      height: 44px;
      padding: 12px;
      border-radius: 50%;
      margin-top: 16px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer-media {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    margin-top: 0;

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.17;
      color: var(--btn-color);
    }
    &__list {
      display: flex;
    }
    &__link {
      fill: var(--btn-color);
      height: 44px;
      padding: 12px;
      border-radius: 50%;
      margin-top: 16px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        background-color: var(--hover-color);
      }
    }
  }
}
