.footer {
  height: 190px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--footer-color);
}
.footer-body {
  display: flex;
}
.footer-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__logo {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--btn-color);
  }
  &__address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--btn-color);
    margin-top: 15px;
  }
  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 7px;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
}