.team-section {
  background-color: var(--back3-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    display: flex;
    justify-content: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    flex-direction: column;
  }
  &__img {
    align-items: flex-start;
  }
  &__item {
    background-color: var(--btn-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 22px;
    margin-top: 37px;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
  }
  &__job {
    font-size: 16px;
    line-height: 1.17;
    color: var(--text-color);
    margin-top: 10px;
  }
  &__div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }
  &__media {
    display: flex;
  }
  &__link {
    fill: var(--client-color);
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    margin-top: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover {
      fill: var(--btn-color);
      background-color: var(--hover-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .team-section {
    background-color: var(--back3-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;

      display: flex;
      justify-content: center;
    }
    &__list {
      display: flex;
      justify-content: space-around;
      padding-left: 0;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__img {
      align-items: flex-start;
    }
    &__item {
      background-color: var(--btn-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
      border-radius: 0px 0px 4px 4px;
      margin-right: 0px;
      margin-top: 30px;
    }
    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.17;
    }
    &__job {
      font-size: 16px;
      line-height: 1.17;
      color: var(--text-color);
      margin-top: 10px;
    }
    &__div {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 30px;
    }
    &__media {
      display: flex;
    }
    &__link {
      fill: var(--client-color);
      height: 44px;
      padding: 12px;
      border-radius: 50%;
      margin-top: 16px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        fill: var(--btn-color);
        background-color: var(--hover-color);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    background-color: var(--back3-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;

      display: flex;
      justify-content: center;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
    }
    &__img {
      align-items: flex-start;
      width: 270px;
    }
    &__item {
      background-color: var(--btn-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin-right: 22px;
      margin-top: 37px;
    }
    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.17;
    }
    &__job {
      font-size: 16px;
      line-height: 1.17;
      color: var(--text-color);
      margin-top: 10px;
    }
    &__div {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 30px;
    }
    &__media {
      display: flex;
    }
    &__link {
      fill: var(--client-color);
      height: 44px;
      padding: 12px;
      border-radius: 50%;
      margin-top: 16px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        fill: var(--btn-color);
        background-color: var(--hover-color);
      }
    }
  }
}
