li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  img {
    display: block;
  }
  section {
    display: flex;
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .conteiner {
    margin: 0 auto;
    width: 100%;
    @media screen and (min-width: 480px) {
    width: var(--mobile);
    }
    @media screen and (min-width: 768px) {
      width: var(--tablet);
    }
    @media screen and (min-width: 1200px) {
      width: var(--desktop);
    }
  }
  .body {
    font-family: "roboto", sans-serif;
    font-style: normal;
    color: var(--back-color);
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--btn-color);
  }