:root {
    --text-color: #757575;
    --hover-color: #2196f3; 
    --btn-color: #fff;
    --back-color: #212121;
    --footer-color: #2f303a;
    --back3-color: #f5f4fa;
    --headerborder-color: #5e5e5e;
    --client-color: #afb1b8;
 }